{% extends "base_html/page_base.html"%}
{% block page %}


    <!--Need a container class for most code. "container" = fixed width. -fluid denotes full width of screen-->
    <div class = "container-fluid">
        <h1>VLC Controller</h1>
        <div class="row" style="font-size:20px">  <!--xs sm md lg xl are size variables-->
            <div class="col-sm-4" style="background-color: #FF0000">Red </div>
            <div class="col-sm-4" style="background-color: #FF9900">Orange </div>
            <div class="col-sm-4" style="background-color: #FFFF00">Yellow </div>
        </div>



    </div>


{% endblock %}
