<html>

    <!COLOR SCHEME-- LINK TO CSS FILE>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
    </head>

    <!TEXT STARTS>
    <body>
        <!HEADER>
        <h1>
            Home Automation
        </h1>

        <!LIGHTS>
        <h2>
            <a href="/lights/">{{ tab1 }}</a>
        </h2>

        <!DOOR LOCK>
        <h2>
            <a href="/doorlock/">{{ tab2 }}</a>
        </h2>

        <!TV>
        <h2>
            <a href="/tv/">{{ tab3 }}</a>
        </h2>

    </body>


</html>